body{
    background-color: black;
}
.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}
.header{
    display: flex;
    align-items: center;
    width: 500px;
    height: auto;
    margin-top: 200px;
    background-color: white;
}
.pfp-header{ 
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.pfp-header img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.user-tittle{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.user-tittle p{
    margin: 0;
}
.user-menu{
    margin-left: auto;
    margin-right: 5px;
}
.body-photo{
    width: 500px;
    height: auto;
    margin-top: 0px;
    background-color: white;
}
.body-photo img{
    width: 100%;
    height: auto;
}
.description{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.description-icons{
    display: flex;
    margin-top: 10px;
}
.description-bookmark{
    margin-left: auto;
    margin-right: 5px;
}
.description-paper{
    margin-left: 10px;
}
.description-comment{
    margin-left: 10px;
}
.description-text{
    text-align: justify;
}